.form {
display: flex;
flex-direction: column;
align-items: center;
gap: 7px;
margin-top: 15px;
}

input,
textarea {
background-color: #dda853;
border: 1px solid black;
padding: 8px;
width: 250px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input::placeholder,
textarea::placeholder {
color: black;
}

input[type="submit"] {
cursor: pointer;
font-weight: bold;
}

input[type="submit"]:hover {
background-color: #5d866c;
color: white;
}

/* Textarea tamaño */
textarea {
width: 250px;
height: 150px;
padding: 10px;
}

a {
text-decoration: none;
color: #25613b;
}

a:hover {
color: #c2a68c;
}

body {
font-family: "Chakra+Petch", cursive ;
background-color: #fbf5dd;
color: #16404d;
font-size: 20px;

}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.contenedor-home{
    flex: 1;
}
