body{
    font-family: "Chakra+Patch",cursive;
    color: #16404d;
    background: #fbf5dd;
}

.contenedor-autos{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.caja-autos{
    width: 260px;
    background: whitesmoke;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.caja-autos:hover{
    transform: scale(1.03);
    border-color: black;
}

.caja-autos img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color:black;
}