body{
    font-family: "Chakra+Petch", cursive ;
    color: #16404d;
    font-size: 20px;
    position: relative;
}

body::before{
    background-image: url("https://www.topgear.com/sites/default/files/2023/01/BlackGhost1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

.contenedor-home{
    background-color: #fbf5dd;
    border-radius: 10px;
    opacity:0.9;
    display: flex;
    width: 1300px;
    height:auto;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    text-align: center;
}

.card-imagen{
    background-color:whitesmoke;
    border:solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.2s;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: 300px;
    height:500px;
    
}

.card-imagen:hover{
    transform: scale(1.03);
    border-color: black;

}

img{
    display: block;
    justify-content: center;
    border-radius: 10px;
    width: 280px;
    height: 150px;
    margin: 10px;
}

.contenedor-imagen{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-content: center;
}

.titulo-home{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.texto-imagen{
    display: flex;
    margin: 10px;
    justify-content: center;
}
