body {
  background-color: #fbf5dd;
}

header {
  background-color: #dda853;
  color: #16404d;
  display: flex;
  justify-content: space-between;
  height: 70px;
  border: solid 3px;
  padding: 10px;
  gap: 10px;
}

header .logo_header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

a:hover {
  color: #070a0a;
}

nav a {
  text-decoration: none;
  gap: 20px;
}

footer {
  background-color: #a6cdc6;
  color: #16404d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
